.skeleton {
  background: linear-gradient(90deg, #242424 25%, #383838 50%, #242424 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  color: transparent;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
